* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: DMSerifDisplay;
  src: url(./assets/DMSerifDisplay.woff);
}

@font-face {
  font-family: inter;
  src: url(./assets/Inter.woff);
}

body {
  height: auto;
  width: auto;
  color: #1a1a1a;
  font-family: inter, Arial, helvetica;
}

header {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4 {
  font-family: DMSerifDisplay;
}

h1 {
  font-size: 3vw;
}

h2 {
  font-size: 3vw;
}

.picture-box {
  position: relative;
  z-index: 1;
  width: 25vw;
  height: 30vw;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.about-me {
  width: 37vw;
  height: 20vw;
  padding: 2.5vw 1.5vw;
  position: relative;
  background-color: white;
  z-index: 1;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icons {
  display: flex;
  justify-content: flex-end;
  gap: 1.5vw;
}

.icons svg {
  width: 2vw;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease-in-out 0.05s;
}

.icons > svg:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out 0.05s;
}

.about-me p {
  font-size: 1.1vw;
}

.name {
  position: absolute;
  bottom: 0.5vw;
  width: 100%;
  text-align: center;
  font-family: DMSerifDisplay;
  font-size: 4vw;
  color: white;
}

.header-background {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: black;
  clip-path: polygon(0% 0%, 100% 0%, 100% 40%, 0% 85%);
  background-color: #4d7fb0;
}

.picture-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

main {
  padding: 2vw 7vw;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4vw;
  padding: 2vw 0 3vw 0;
}

.card {
  width: 25vw;
  height: 22vw;
  box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out 0.05s;
}

.card:hover {
  transform: scale(1.08);
  transition: transform 0.3s ease-in-out 0.05s;
}

.project-image {
  width: 100%;
  height: 60%;
  overflow: hidden;
}

.project-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.project-info {
  padding: 0.5vw 0.5vw;
  display: flex;
  flex-direction: column;
  gap: 0.8vw;
}

h4 {
  font-size: 1.5vw;
}

.project-icons svg {
  width: 1.7vw;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease-in-out 0.05s;
  padding-left: 4px;
}

.project-icons > svg:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out 0.05s;
}

.project-title-area {
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: #4d7fb0;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  padding: 0 10vw;
  align-items: center;
}

h3 {
  font-size: 3vw;
}

.info {
  font-size: 1vw;
  max-width: 25vw;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  color: white;
}

.footer-image {
  width: 40vw;
  height: 30vw;
  overflow: hidden;
  background-color: black;
}

.footer-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.phone,
.email {
  display: flex;
  gap: 0.5vw;
  align-items: center;
}

.phone svg,
.email svg {
  fill: white;
  height: 1.5vw;
  width: auto;
}

.footer-icons {
  justify-content: flex-start;
}

.footer-icons svg {
  width: 2.1vw;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}
