* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: DMSerifDisplay;
  src: url(./assets/DMSerifDisplay.woff);
}

@font-face {
  font-family: inter;
  src: url(./assets/Inter.woff);
}

body {
  height: auto;
  width: auto;
  color: #1a1a1a;
  font-family: inter, Arial, helvetica;
}

header {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4 {
  font-family: DMSerifDisplay;
  font-weight: 100;
}

h1 {
  font-size: 3vw;
}

h2 {
  font-size: 3vw;
}

.picture-box {
  position: relative;
  z-index: 1;
  width: 25vw;
  height: 30vw;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
}

.about-me {
  width: 37vw;
  height: 20vw;
  padding: 2.5vw 1.5vw;
  position: relative;
  background-color: white;
  z-index: 1;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icons {
  display: flex;
  justify-content: flex-end;
  gap: 1.5vw;
}

.icons svg {
  width: 2vw;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease-in-out 0.05s;
}

.icons > svg:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out 0.05s;
}

.about-me p {
  font-size: 1.1vw;
}

.name {
  position: absolute;
  bottom: 0.5vw;
  width: 100%;
  text-align: center;
  font-family: DMSerifDisplay;
  font-size: 4vw;
  color: white;
}

.header-background {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: black;
  clip-path: polygon(0% 0%, 100% 0%, 100% 40%, 0% 85%);
  background-color: #4d7fb0;
}

.picture-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  transform: scale(1.02);
  transition: opacity 1s ease, transform 1s ease;
}

.picture-box > img.loaded {
  opacity: 1;
  transform: scale(1);
}

main {
  padding: 2vw 7vw;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4vw;
  padding: 2vw 0 3vw 0;
}

.card {
  width: 25vw;
  height: 22vw;
  box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease-in-out 0.05s;
}

.card:hover {
  transform: scale(1.08);
  transition: transform 0.3s ease-in-out 0.05s;
}

.project-image {
  width: 100%;
  height: 60%;
  overflow: hidden;
}

.project-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.project-info {
  padding: 0.5vw 0.5vw;
  display: flex;
  flex-direction: column;
  gap: 0.8vw;
}

h4 {
  font-size: 1.5vw;
}

.project-icons svg {
  width: 1.7vw;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease-in-out 0.05s;
  padding-left: 4px;
}

.project-icons > svg:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out 0.05s;
}

.project-title-area {
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: #4d7fb0;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  padding: 0 10vw;
  align-items: center;
}

h3 {
  font-size: 3vw;
}

.info {
  font-size: 1vw;
  max-width: 25vw;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  color: white;
}

.footer-image {
  width: 40vw;
  height: 30vw;
  overflow: hidden;
  background-color: black;
}

.footer-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.phone,
.email {
  display: flex;
  gap: 0.5vw;
  align-items: center;
}

.phone svg,
.email svg {
  fill: white;
  height: 1.5vw;
  width: auto;
}

.footer-icons {
  justify-content: flex-start;
}

.footer-icons svg {
  width: 2.1vw;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

@media (min-width: 768px) and (max-width: 1024px) {
  header {
    height: 60vh;
    display: block;
  }

  .picture-box {
    width: 45vw;
    height: 50vw;
    top: 6vw;
    left: 6vw;
    z-index: 2;
    position: absolute;
    overflow: visible;
  }

  .about-me {
    width: 75vw;
    height: 50vw;
    top: 18vw;
    left: 11vw;
    position: absolute;
    display: grid;
    grid-template-columns: 40vw 1fr;
    grid-template-rows: 10vw 27vw 1fr;
  }

  h1 {
    grid-column: 2 / -1;
    grid-row: 1 / span 1;
    font-size: 6vw;
    justify-self: center;
    align-self: center;
  }

  .about-me p {
    grid-column: 2 / -1;
    grid-row: 2 / 4;
    font-size: 2vw;
    padding: 0.5vw 0.5vw;
    text-align: center;
    font-weight: 100;
  }

  .about-me .icons {
    grid-column: 1 / span 1;
    grid-row: 3 / -1;
    justify-self: center;
    gap: 5vw;
  }

  .icons svg {
    width: 4vw;
    height: auto;
  }

  .name {
    font-size: 8vw;
    line-height: 8.2vw;
  }

  main {
    padding: 5vw 12.5vw;
  }

  h2 {
    font-size: 5vw;
  }

  .card {
    width: 33vw;
    height: 33vw;
  }

  h4 {
    font-size: 2.5vw;
  }

  .project-title-area svg {
    height: 2.5vw;
    width: auto;
  }

  .project-info {
    padding: 1vw 1vw;
  }

  .project-info p {
    font-size: 1.8vw;
  }

  .project-image {
    height: 55%;
  }

  .cards {
    gap: 6vw;
    padding: 3vw 0 3vw 0;
  }

  footer {
    height: 50vh;
    padding: 5vw 12.5vw;
  }

  .info {
    max-width: 30vw;
    font-size: 2.1vw;
    gap: 3.2vh;
  }

  .phone svg,
  .email svg {
    height: 2.1vw;
  }

  .phone,
  .email {
    gap: 1.1vw;
  }

  .email {
    font-size: 1.9vw;
  }

  .footer-image {
    width: 28vh;
    height: 90%;
  }

  h3 {
    font-size: 5vw;
  }
}

@media (max-width: 767px) {
  header {
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 4vh;
  }

  .picture-box {
    width: 80vw;
    height: 55vh;
  }

  .name {
    font-size: 6vh;
  }

  h1 {
    font-size: 5vh;
    text-align: center;
  }

  .about-me p {
    font-size: 2.5vh;
    text-align: center;
    padding: 0 10vw;
  }

  .about-me {
    width: 100vw;
    height: auto;
    padding: 2vh 0;
    justify-content: flex-start;
    gap: 3vh;
    box-shadow: none;
  }

  .about-me .icons {
    justify-content: center;
    gap: 6vw;
  }

  .about-me .icons svg {
    height: 4vh;
    width: auto;
  }

  .header-background {
    clip-path: polygon(0% 0%, 100% 0%, 100% 25%, 0% 41%);
  }

  main {
    padding: 12vh 7vw 4vh 7vw;
  }

  .cards {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 8vh;
    padding: 4vh 0;
  }

  h2 {
    font-size: 4vh;
    font-weight: 100;
    text-align: center;
  }

  .card {
    height: 70vw;
    width: 75vw;
  }

  h4 {
    font-size: 2.2vh;
  }

  .project-icons svg {
    height: 2.2vh;
    width: auto;
  }

  .project-info {
    padding: 0.5vh 4vw;
  }

  .project-info p {
    font-size: 1.8vh;
    padding-top: 0.7vh;
  }

  footer {
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4vh 10vw;
    gap: 4vh;
  }

  .info {
    max-width: 100%;
    gap: 3vh;
  }

  .info p {
    font-size: 1.8vh;
  }

  h3 {
    font-size: 3.5vh;
    text-align: center;
  }

  .phone svg,
  .email svg {
    height: 1.8vh;
    width: auto;
  }

  .phone,
  .email {
    gap: 3vw;
  }

  .footer-image {
    height: 40vh;
    width: 100%;
  }

  .footer-icons {
    justify-content: center;
    gap: 5vw;
  }

  .footer-icons svg {
    height: 3vh;
    width: auto;
  }
}
